header {
  display: flex;
  align-items: center;
  height: 60px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.15) 0 1px 4px;
  padding: 0 15px;
  justify-content: space-between;
}

header a {
  text-decoration: none;
  color: #333333;
}

header div.subscribe {
  color: green;
  cursor: pointer;
}

header a:hover,
header div.subscribe:hover {
  opacity: 0.7;
  transition: all 0.4s ease;
}
