.home {
  color: #333;
}

.home a {
  text-decoration: none;
  color: #333333;
}

.home .latest .info a:hover {
  opacity: 0.7;
  transition: all 0.4s ease;
}

.home section {
  margin: 30px 0;
}

.home h1.section-title {
  font-weight: bold;
  color: #4a4a4a;
}

/* Heading Section */
.home .heading {
  margin: 60px 0;
}

.home .heading h1 {
  font-weight: bold;
  font-size: 48px;
  color: #4a4a4a;
}

.home .heading p {
  font-size: 20px;
  line-height: 1.5;
}

/* Features Section */
@media only screen and (max-width: 600px) {
  .home .featured {
    flex-wrap: wrap !important;
  }
}

.home .featured {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 20px;
  flex-wrap: nowrap;
  gap: 15px;
}

.home .featured .feature-post {
  border: 1px solid rgba(0, 0, 0, 20%);
  border-radius: 10px;
  padding: 25px;
  width: 100%;
}

.home .featured .feature-post:hover {
  border: 1px solid rgba(0, 0, 0, 80%);
  transition: all 0.4s ease;
}

.home .featured .feature-post h1 {
  font-size: 18px;
  font-weight: normal;
  color: #333333;
}

.home .featured .feature-post p {
  font-size: 14px;
  font-weight: normal;
  color: #333333;
}
