@import "single.css";
@import "header.css";
@import "footer.css";
@import "join.css";
@import "post-tags.css";
@import "index.css";
@import "latest-posts.css";

body {
  font-family: "Inter", sans-serif;
  color: #333333;
  font-size: 16px;
  margin: 0;
}

h1,
h2,
h3 {
  font-weight: normal;
  margin: 0;
}

h1 {
  font-size: 32px;
}

div#content {
  max-width: 720px;
  min-width: 300px;
  margin: auto;
  padding: 0 15px;
  min-height: calc(100vh - 100px);
}

code {
  line-height: 1.4;
}

a {
  text-decoration: none;
  color: #333333;
}

a:hover {
  opacity: 0.7;
  transition: all 0.4s ease;
}
