header {
  display: flex;
  align-items: center;
  height: 60px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.15) 0 1px 4px;
  padding: 0 15px;
}

header a {
  text-decoration: none;
  color: #333333;
}
