.post-tags {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 10px;
}

.post-tags li {
  padding: 6px 10px;
  border-radius: 40px;
  cursor: pointer;
}

.post-tags a,
.post-tags div {
  text-decoration: none;
  color: #333333;
}

li.post-tag.clickable:hover {
  filter: brightness(103%);
}

li.post-tag[data-tag="clean code"] {
  background-color: #fdeeea;
}

li.post-tag[data-tag="javascript"] {
  background-color: #eaecfd;
}

li.post-tag[data-tag="typescript"] {
  background-color: #e0f3f0;
}

li.post-tag[data-tag="documentation"] {
  background-color: #fbdbdb;
}

li.post-tag[data-tag="debugging"] {
  background-color: #f9dae8;
}
