header {
  display: flex;
  align-items: center;
  height: 60px;
  background-color: white;
  box-shadow: lightgray 0 1px 1px;
  padding: 0 15px;
  justify-content: space-between;
}

header a {
  text-decoration: none;
  color: var(--black);
}

header a.subscribe {
  color: steelblue;
  cursor: pointer;
}

header a:hover,
header a.subscribe:hover {
  text-decoration: underline;
  transition: all 0.4s ease;
}

header a.home:hover {
  text-decoration: none;
  opacity: 0.7;
}
