.home {
  color: var(--black);
}

.home a {
  text-decoration: none;
  color: var(--black);
}

.home section {
  padding: 30px 0;
}

.home h1.section-title {
  font-weight: bold;
  color: #4a4a4a;
}

/* Heading Section */
.home .heading {
  padding: 60px 0;
}

.home .heading h1 {
  font-weight: bold;
  font-size: 48px;
  color: #4a4a4a;
}

.home .heading p {
  font-size: 20px;
  line-height: 1.5;
}

/* Features Section */
@media only screen and (max-width: 600px) {
  .home .featured {
    flex-wrap: wrap !important;
  }
}

.home .featured {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 20px;
  flex-wrap: nowrap;
  gap: 15px;
}

.home .featured .feature-post {
  border: 1px solid lightgray;
  border-radius: 10px;
  padding: 25px;
  width: 100%;
}

.home .featured .feature-post:hover {
  border: 1px solid dimgray;
  transition: all 0.4s ease;
}

.home .featured .feature-post h1 {
  font-size: 18px;
  font-weight: normal;
  color: var(--black);
}

.home .featured .feature-post p {
  font-size: 14px;
  font-weight: normal;
  color: var(--black);
}

.home .featured .post-tags {
  margin-top: 12px;
}

.home .featured .post-tag {
  font-size: 12px;
}

.home form#collectingemail,
.home .collectingemail_error {
  margin: 0;
  margin-top: 10px;
}

dialog.subscribe {
  border: 0;
  box-shadow: lightgray 0 1px 6px;
  border-radius: 5px;
  padding: 30px;
  display: none;
}

dialog.subscribe[open] {
  display: block;
}

.home div#email-input-container span#caption{
  margin-left: 0;
}

div#email-input-container span#caption {
  display: flex;
  padding-top: 10px;
  color: grey;
  font-size: 11px;
  margin-left: 40px;
}

div#email-input-container span#caption a {
  color: grey;
  font-size: 11px;
  text-decoration-style: dotted !important;
  text-decoration: underline;
}

div#email-input-container span#caption a:hover {
  color: black;
}
