section.join {
  color: var(--black);
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 20px;
}

section.join h1 {
  font-size: 20px;
}

section.join h2 {
  font-size: 14px;
}

section.join .sib-form {
  margin: auto;
}
