section.join {
  color: #333333;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 20px;
}

section.join h1 {
  font-size: 20px;
}

section.join h2 {
  font-size: 14px;
}
