.post {
  line-height: 1.4;
}

.post hr {
  width: 200px;
  border: 1px solid whitesmoke;
  margin: 50px auto;
}

.post-heading {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 30px 0 15px 0;
}

.post-heading .post-date {
  color: dimgray;
}

.post-content a {
  color: steelblue;
}

.post-navigate {
  padding-top: 50px;
}

.post-navigate a {
  color: var(--black);
  text-decoration: none;
  max-width: 45%;
}

.post-navigate .date {
  font-size: 14px;
  color: dimgray;
}

.post-navigate .prev,
.post-navigate .next {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 15px;
}

.post-navigate .prev {
  float: left;
  text-align: left;
}

.post-navigate .next {
  float: right;
  text-align: right;
}

.post-navigate:after {
  content: "";
  clear: both;
  display: table;
}

section.subscribe hr {
  width: 300px;
  margin: 50px auto;
  border: none;
  border-top: 1px solid lightgray;
}
