@import "single.css";
@import "header.css";
@import "footer.css";
@import "join.css";
@import "post-tags.css";
@import "index.css";
@import "latest-posts.css";
@import "list.css";

:root {
  --bg-red: rgba(254, 128, 128, 3%);
  --light-red: #fe8080;
  --dark-red: #d73a49;

  --bg-green: rgba(154, 207, 165, 3%);
  --light-green: #9acfa5;
  --dark-green: rgb(103, 161, 116);

  --black: #333333;
}

body {
  font-family: "Inter", sans-serif;
  color: var(--black);
  font-size: 16px;
  margin: 0;
}

h1,
h2,
h3 {
  font-weight: normal;
  margin: 0;
}

h1 {
  font-size: 32px;
}

div#content {
  max-width: 720px;
  min-width: 300px;
  margin: auto;
  padding: 0 15px;
  min-height: calc(100vh - 100px);
}

code {
  line-height: 1.4;
}

pre {
  white-space: pre-wrap;
}

a {
  text-decoration: none;
  color: var(--black);
}

a:hover {
  transition: all 0.4s ease;
  text-decoration: underline;
}

a.email {
  color: crimson;
}
