<head>
	<meta charset="utf-8">
	<meta
	name="viewport" content="width=device-width, initial-scale=1">

	<!-- Favicon -->
	<link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
	<link rel="manifest" href="/site.webmanifest">
	<link rel="mask-icon" href="/img/safari-pinned-tab.svg" color="#5bbad5">
	<meta
	name="msapplication-TileColor" content="#da532c">

	<!-- Primary Meta Tags -->
	<title>codehealth.dev</title>
	<meta name="title" content="codehealth.dev">
	<meta
	name="description" content="Blog for sharing advice and learnings on writing readable and maintainable code for all skill levels.">

	<!-- Open Graph / Facebook -->
	<meta property="og:type" content="website">
	<meta property="og:url" content="https://codehealth.dev/">
	<meta property="og:title" content="codehealth.dev">
	<meta property="og:description" content="Blog for sharing advice and learnings on writing readable and maintainable code for all skill levels.">
	<meta
	property="og:image" content="https://codehealth.dev/img/card.png">

	<!-- Twitter -->
	<meta property="twitter:card" content="summary_large_image">
	<meta property="twitter:url" content="https://codehealth.dev/">
	<meta property="twitter:title" content="codehealth.dev">
	<meta property="twitter:description" content="Blog for sharing advice and learnings on writing readable and maintainable code for all skill levels.">
	<meta property="twitter:image" content="https://codehealth.dev/img/card.png">


	{{ $css := resources.Match "**.css" | resources.Concat "main.css" | fingerprint | minify }}
	<link rel="stylesheet" href="{{ $css.Permalink }}" defer>

	{{ $js := resources.Match "**.js" | resources.Concat "main.js" | fingerprint | minify }}
	<script src="{{ $js.Permalink }}" defer></script>

	<link rel="preconnect" href="https://fonts.googleapis.com" async>
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Source+Code+Pro:wght@400;700&display=swap" rel="stylesheet" async>

	{{ $title := print .Site.Title " | " .Title }}
	{{ if .IsHome }}
		{{ $title = .Site.Title }}
	{{ end }}
	<title>{{ $title }}</title>
</head>
