{{ define "main" }}
	<div class="home">
		<section class="heading">
			<h1>codehealth.dev</h1>
			<p>👋 Hey there, welcome to my code health blog!</p>
			<p>This blog is about sharing advice and learnings on writing readable and maintanable code for all skill levels. It's meant to be a collaborative effort so I'm happy to receive any ideas and feedback at
				<a class="email" href="mailto:hey@codehealth.dev">hey@codehealth.dev</a>
			</p>
		</p>
		<p id="subscribe">Please also subscribe to the blog to receive updates on new posts.</p>
		{{partial "email-input.html" .}}
	</section>

	{{ if isset .Site.Params "featuredposts" }}
		<h1 class="section-title">Featured</h1>
		<section class="featured">
			{{ range $post := $.Site.Params.featuredPosts }}
				{{ with $.Site.GetPage $post }}
					<a href="{{ .RelPermalink | urlize | lower }}" class="feature-post">
						<h1>{{.Title}}</h1>
						{{ .Scratch.Set "clickable" false }}
						{{ partial "post-tags.html" . }}
						<p>{{ .Summary }}</p>
					</a>
				{{ end }}
			{{ end }}
		</section>
	{{ end }}

	<h1 class="section-title">Latest</h1>
	<section class="latest-posts">
		{{range ( where site.RegularPages "Section" "posts" | first 4 ) }}
			<a class="latest-post" href="{{ .RelPermalink | urlize | lower }}">
				<div class="info">
					<h1>{{ .Title }}</h1>
					{{ .Scratch.Set "clickable" false }}
					{{ partial "post-tags.html" . }}
				</div>
				<div class="date">{{ .PublishDate.Format "January 2, 2006" }}</div>
			</a>
			<hr/>
		{{ end }}
		<a class="read-more" href="/posts">Read More</a>
	</section>
</div>{{ end }}
